[Unit]
Description=Automatic updates and upgrades on this Solus setup
After=network.target

[Service]
ExecStartPre=/usr/bin/eopkg ur
ExecStart=/usr/bin/eopkg up -y
