
# Want to INSTALL zerotier on solus linux? Check out my install notes:
# https://github.com/bvdlingen/solus-linux-scripts/blob/master/zerotier-install-notes.sh

# Want to UPDATE zerotier on solus linux? Check out:
# https://github.com/bvdlingen/solus-linux-scripts/blob/master/zerotier-update-solus.sh

# After installing zerotier a systemd service has to be created:

# 1. save this file as /etc/systemd/system/zerotier.service
# 2. enable zerotier like this: sudo systemd enable zerotier
# 3. start zerotier using this command: sudo systemd start zerotier

[Unit]
Description=ZeroTier One
After=network-online.target
Wants=network-online.target

[Service]
ExecStart=/opt/ZeroTierOne/zerotier-one
Restart=always
KillMode=process

[Install]
WantedBy=multi-user.target 
